@charset "UTF-8";
/* CSS Document */


body{
	background: black;

}

.fixed-bg-earth {
    /* The background image */
    background-image: url(../img/background/Earth_Moon_Sun_Bkgd.png);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 100vh;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

header{
	padding:30px;
	padding-top: 20px;
}

.navbar-fixed-left {
  float: left;
	margin-left: 3%;
}

.navbarleft {
  display: block;
  margin-top: 25px;
}

.navbarleft img {
  width: 50px;
}

 a{
 	color:white;
 }

h1{
	color:white;
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;

}

h2{
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}



h3{
	color: white;
	font-size: 18px;
font-family: 'Montserrat', sans-serif;
z-index: 1;
	/*Body Text*/
}



#moonimg{
	position: fixed;
	top: 15%;
	right: 34.5%;
	width: 13vw !important;
	cursor: pointer;
	visibility: visible;

}

#sunimg{
	position: fixed;
	top: 0px;
	right: 19%;
	width: 11vw !important;
	cursor: pointer;
	visibility: visible;

}

#earthimg{
	position: fixed;
	top: 31%;
	left: 20%;
	width: 39vw !important;
	cursor: pointer;
	visibility: visible;

}


#suntext, #moontext, #earthtext{
	visibility: hidden;
  position: absolute;
  right: 1em;
  top: 40%;
}

footer h3{
		font-size: 16px;
		color:white;
	font-style: normal;
	font-weight: normal;

	}

footer {
	/*background-color: #FFFFFF;*/
	text-align: center;
	opacity: 0.6;
	padding-bottom:25px;
	}

#footertext{
width: 650px;
margin-left:380px;
position: absolute;
bottom: 20px;
}

a#leftbutton {

	padding: 10px 50px 10px 30px;
	/*background-color: #9C9BAB;
	border-radius: 25px;*/
}

#leftbutton{
	position: fixed;
	left: 300px;
	bottom:10px;
	width:50px;

}

a#rightbutton {

	padding: 10px 30px 10px 50px;

	/*background-color: #9C9BAB;
	border-radius: 25px;*/
}

#rightbutton{
	width:50px;

	position: fixed;
	right: 300px;
	bottom: 10px;
}
