@charset "UTF-8";

.content {
	background-image: url(../img/background/SolarSystem_ToScale.png);
}

#X {
	cursor: pointer;
	z-index: 1;
	font-weight: bolder;
	visibility: hidden;

	/* top: 150px; */
	/* left: 280px; */
	/* margin-left: -100px;
	margin-right: -100px; */
}

#site{
	bottom: 40px;
	/* right: 285px; */
	z-index: 2;
	visibility: hidden;
}

iframe {
	z-index: 1;
	visibility: hidden;
	/* top: 150px; */
	/* margin: 60px 0 0 300px; */
	border-color: white;
	border-width: 2px;
	border-radius: 25px;
	/* width: 60%; */
	height: 80%;
}

.iframe-container {
	top: 150px;
}

.margin-150 {
	margin-top: 150px;
	height: 100%;
}

.align-bottom {
	height: 60%;
	align-items: flex-end;
	justify-content: center;
	width:100%;
}

#aboutrecord {
	background-color: rgba(245,214,147, 0.8);
	font-family: 'Montserrat', sans-serif;
	color: black;
	border-radius: 25px;
	height: 100%;
	padding: 10px 30px 30px 30px;
	overflow-y: scroll;
	z-index: 5;
}

#aboutrecord > p {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

.test {
	right: 25px;
	bottom: 25px;
	float: right;
}

/* Scrollbar */

/* Width */
#aboutrecord::-webkit-scrollbar {
	width: 10px;
}

/* Track */
#aboutrecord::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	height: 80%;
}

/* Handle */
#aboutrecord::-webkit-scrollbar-thumb {
	background: #ffffff80;
	border-radius: 10px;
}

/* On Hover */
#aboutrecord::-webkit-scrollbar-thumb:hover {
	background: #ffffffBF;
}

/* End Scrollbar */


/* Create Record */

.create-record-wrapper {
	width: fit-content;
}

.img-wrapper {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	cursor: pointer;
}

.img-wrapper > img {
	width: 100%;
	min-width: 100px;
	max-width: 220px;
	background-color: rgba(245,214,147, 0.8);
	border-radius: 110px;

}

.create-record-wrapper > a > h3 {
	margin: 0 auto;
	margin-top: 20px;
}

#createrecord {
	align-items: center;
	text-align: center;
	border-radius: 25px;
	background-color: rgba(245,214,147, 0.8);
	border-color: rgba(0,0,0,0);
	padding: 5px 0px 5px 0px;
	min-width: 100px;
	max-width: 200px;
	cursor: pointer;
}

/* End Create Record */

.fnt-13 {
	font-size:13px;
}
