@media (max-width : 995px) {
  .home-icon {
    /* width: 260px; */
    max-width: 260px;
  }
}

@media (max-width : 767px) {
  .home-icon {
    
  }
}

#home-icon-container > div > .row {
  margin-right: 0px;
  margin-left: 0px;
}