@charset "UTF-8";
/* CSS Document */


/* Backgrounds */

body{
    background-color: black;
}

a{
 	color:white;
}

.fixed-bg-index {
    /* The background image for the Index page */
    background-image: url(../img/background/Milky_Way.jpg);
    /* Set a specified height, or the minimum height for the background image */
    min-height:100vh;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.fixed-bg-earth {
    /* The background image for the Earth page */
    background-image: url(../img/background/Earth_Moon_Sun_Bkgd.png);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 100vh;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}


/* CSS Attributes - Index page only */

#images a, #images img {
  width: 15vmax !important;
  margin-right: 12%;
  margin-left:8%;
  margin-top: 28%;
	z-index: 1;
}

#aboutimg{
	width: 3.5vw;
	position: fixed;
	bottom: 8%;
	right: 3%;
	z-index: 2;
}

#abouttext{
	font-size: 2vmin;
	text-align: center;
	position: fixed;
	bottom: 3%;
	right: 3%;
	z-index: 2;
}


/* CSS Attributes - Earth page only */

#moonimg{
	position: fixed;
	bottom: 60%;
	right: 30%;
	width: 12vw !important;
	cursor: pointer;
	visibility: visible;
	z-index: 2;
}

#sunimg{
	position: fixed;
	bottom: 80%;
	right: 19%;
	width: 8vw !important;
	cursor: pointer;
	visibility: visible;
	z-index: 1;
}

#earthimg{
	position: fixed;
	bottom: 3%;
	right: 40%;
	width: 35vw !important;
	cursor: pointer;
	visibility: visible;
	z-index: 3;
}

#suntext, #moontext, #earthtext{
	visibility: hidden;
	position: absolute;
	top: 45%;
	right: 3%;
}


/* Shared CSS Attributes - all pages */

.navbar-fixed-left {
  position: fixed;
	padding-left: 2.5%;
	padding-top: 180px;
}

.navbarleft {
  display: block;
	padding-bottom: 3vh;
}

.navbarleft img {
  width: 50px;
}

#images {
  height: 50vh;
  display:flex;
  justify-content: space-around;
  align-items:center;
}

header1{
	position: fixed;
	padding-top: 10px; 
	padding-left: 3%;
	z-index: 4;
}

header2{
	position: fixed;
	padding-top: 75px;
	padding-left: 3%;
}

a{
 	color:white;
 }

h1{
	color:white;
	font-size: 3.5em;
	font-style: normal;
	font-family: 'Quicksand', sans-serif;
}

h2{
	color: white;
	font-size: 1.6em;
	font-weight: 100;
	font-family: 'Josefin Sans', sans-serif;
}

h3{ /*bottom Intro text*/
	color: white;
	font-size: 2.5vmin;
	line-height: 1.4em;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px; 
	text-align: center;
}

h4{ /*pop-up text*/
	color: white;
	font-size: 2vmin;
	line-height: 1.2em;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px; 
	text-align: right; 
}

#intro { /*bottom Intro text*/
	text-align: center;
	font-style: normal;
	font-weight: normal;
    bottom: 5%;
	position: absolute;
	z-index: 3;
}


/* Footer */

footer h3{
	font-size: 16px;
	color: white;
	font-style: normal;
	font-weight: normal;
}

footer {
	/*background-color: #FFFFFF;*/
	text-align: center;
	opacity: 0.6;
	padding-bottom:5%;
	}

#footertext{
	width: 650px;
	margin-left:380px;
	position: absolute;
	bottom: 20px;
}


/* Horizontal Bottom Navbar - all pages sans Index */

/*a#leftbutton {

	padding: 10px 50px 10px 30px;
	/*background-color: #9C9BAB;
	border-radius: 25px;*/

#leftbutton{
	position: fixed;
	left: 2.5%;
	bottom:15px;
	width:40px;
}

/*a#rightbutton {
	padding: 10px 30px 10px 50px;
	/*background-color: #9C9BAB;
	border-radius: 25px;*/

#rightbutton{
	position: fixed;
	right: 2.5%;
	bottom: 15px;
	width: 40px;
}


