@charset "UTF-8";
/* CSS Document */


body{

    background-color: black;
}

 a{
 	color:white;
 }
.fixed-bg {
    /* The background image */
    background-image: url(../img/background/Milky_Way.jpg);
    /* Set a specified height, or the minimum height for the background image */
    min-height:100vh;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.navbar-fixed-left {
  float: left;
	margin-left: 2%;
	margin-top: 1%;
}

.navbarleft {
  display: block;
}

.navbarleft img {
  width: 50px;
}

#images {
  height: 50vh;
  display:flex;
  justify-content: space-around;
  align-items:center;
}

#images a, #images img {
  width: 15vw !important;
  margin-right: 12%;
  margin-left:8%;
  margin-top: 12%;
  margin-bottom: 10%;
}

header{
	padding:30px;
	padding-top: 20px;
}


h1, a{
	color:white;
	font-size: 3.3em;
	font-style: normal;
	font-family: 'Quicksand', sans-serif;
}

h2{
	color: white;
	font-size: 1.4em;
	font-weight: 100;
	font-family: 'Josefin Sans', sans-serif;
	/*FontFamily should be Avenir--This is Second Header*/
}

h3{
	color: white;
	font-size: 1.1em;
	line-height: 1.4em;
	font-family: 'Montserrat', sans-serif;
	text-align: center
	/*Body Text*/
}

#intro {
	text-align: center;
	font-style: normal;
	font-weight: normal;
    bottom: 5%;
	position: absolute;
}

#quote h3 {
	margin-top: 130px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
}

#author h3{
	text-align: center;
	margin-bottom: 50px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Josefin Sans', sans-serif;
}


#aboutimg{
	width: 50px;
	margin-right: 20px;
	position: fixed;
	bottom: 45px;
	right: -4px;
}

#abouttext{
	font-size: 12px;
	position: fixed;
	bottom: 20px;
	right: 40px;
}

footer h3{
		font-size: 16px;
		color: white;
		font-style: normal;
		font-weight: normal;


}

footer {
	/*background-color: #FFFFFF;*/
	text-align: center;
	opacity: 0.6;
	padding-bottom:4px;
	}
