@charset "UTF-8";
/* CSS Document */


.fixed-bg {
    /* The background image */
    background-image: url(../img/background/Milky_Way_Scale_Sans_Stars.png);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 850px;
}


#Me_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 50px;
}

#Earth_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 150px;
}

#SolarSystem_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 250px;
}

#MilkyWay_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 350px;
} 

#ObUniv_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 450px;
} 

#Infinity_Nav_Icon {
	position: absolute;
	width: 50px;
	top: 550px;
}

#person{
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 200px;	
}

#infinity {
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 465px;	
}

h1{
	color:white;
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;

}

h2{
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}

h3{
	color: white;
	font-size: 16px;
font-family: 'Montserrat', sans-serif;
z-index: 1;
	/*Body Text*/
}


#milkyway{
	width: 700px;
	height: 400px;
	position: fixed;
	top: 200px;
	left:300px;
}

#ssimg{
	position: fixed;

		top: 360px;
	left: 834px;
	width: 50px;
	visibility: visible;

}
 #sstext{
 	position: fixed;
	top: 280px;
	left: 680px;
	width: 200px;
	text-align: center;
	visibility: hidden;

 }

#ssarrow{
	 	position: fixed;
	top: 355px;
	left: 790px;
	visibility: hidden;
}

#trappistimg{
	position: fixed;
	top: 405px;
	left: 795px;
	width: 35px;
	cursor: pointer;
	visibility: visible;
}


#trappisttext{
	position: fixed;
		top: 440px;
	left: 735px;

	width: 130px;
visibility: hidden;
	text-align: center;

}



#text{
	visibility: hidden;
	position: fixed;
	right: 80px;
	width: 315px;
	top: 200px;
	background-color: #E1D2D9;
	border-radius: 25px;
	padding: 20px;
	
	text-align: center;
	font-size: 16px;

}

#ufo{
	visibility: hidden;
	position: fixed;
	bottom: 50px;
	right: 40px;
	width: 80px;
}

#text h3{
	color: black;
}

footer h3{ /* RKW */
	font-size: 16px;
	color:white;
}

#footertext{ /* RKW */
	width: 670px;
	position: absolute;
	bottom: 10px;
}