@charset "UTF-8";
/* CSS Document */


.fixed-bg {
    /* The background image */
   background-image: url(../img/background/Observable_Universe.png);
}


#Me_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 50px;
}

#Earth_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 150px;
}

#SolarSystem_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 250px;
}

#MilkyWay_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 350px;
}

#ObUniv_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 450px;
}

#Infinity_Nav_Icon {
	position: absolute;
	width: 50px;
	top: 550px;
}

#person{
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 200px;
}

#infinity {
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 465px;
}

h3, ul{
	color: black;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	z-index: 1;
	/*Body Text*/
}

#text{
	visibility: hidden;
	position: fixed;
	left: 380px;
	width: 650px;
	top: 250px;
	height: 300px;
	background-color: #BADAEA;
	border-radius: 25px;
	padding: 20px;
	font-size: 16px;
}


#textleftbutton{

	visibility: hidden;
	position: fixed;
	left: 410px;
	bottom:270px;
	width:25px;
	cursor: pointer;

}

#textrightbutton{

	visibility: hidden;
	width:25px;

	position: fixed;
	right: 430px;
	bottom: 270px;
	cursor: pointer;
}

#t1{
color: black;
padding: 10px 10px 0 120px;
align-content: center;
visibility: hidden;
}

#t2{

	color: black;
	position: fixed;
top: 250px;
width: 550px;
padding: 30px 10px 0 80px;
visibility: hidden;
text-align: center;
}

#t3{

	color: black;
		position: fixed;
top: 250px;
width: 550px;
padding: 10px 10px 0 80px;
visibility: hidden;
text-align: center;
}

#magnify{
	position: fixed;
	right: 400px;
	bottom: 200px;
	width: 50px;
	cursor: pointer;


}
