@charset "UTF-8";
/* CSS Document */


body{
	background: black;
	
}
 a{
 	color:white;
 }
.fixed-bg {
    /* The background image */
   background-image: url(../img/background/Observable_Universe.png);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 850px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

header{
	padding:30px;
	padding-top: 20px;	
}

.navbarleft{
	position: absolute;
	margin-left: 45px;
}


#Me_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 50px;
}

#Earth_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 150px;
}

#SolarSystem_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 250px;
}

#MilkyWay_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 350px;
} 

#ObUniv_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 450px;
} 

#Infinity_Nav_Icon {
	position: absolute;
	width: 50px;
	top: 550px;
}

#person{
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 200px;	
}

#infinity {
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 465px;	
}

h1{
	color:white;
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;

}

h2{
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}



h3, ul{
	color: black;
	font-size: 18px;
font-family: 'Montserrat', sans-serif;
z-index: 1;
	/*Body Text*/
}


footer h3{
		font-size: 16px;
		color:white;
	font-style: normal;
	font-weight: normal;

	}

#text{
	visibility: hidden;
	position: fixed;
	left: 380px;
	width: 650px;
	top: 250px;
	height: 300px;
	background-color: #BADAEA;
	border-radius: 25px;
	padding: 20px;
	font-size: 16px;
}


#textleftbutton{

	visibility: hidden;
	position: fixed;
	left: 410px;
	bottom:270px;
	width:25px;
	cursor: pointer;

}

#textrightbutton{

	visibility: hidden;
	width:25px;

	position: fixed;
	right: 430px;
	bottom: 270px;
	cursor: pointer;
}

#t1{
color: black;
padding: 10px 10px 0 120px;
align-content: center;
visibility: hidden;
}

#t2{
	
	color: black;
	position: fixed;
top: 250px;
width: 550px;
padding: 30px 10px 0 80px;
visibility: hidden;
text-align: center;
}

#t3{
	
	color: black;
		position: fixed;
top: 250px;
width: 550px;
padding: 10px 10px 0 80px;
visibility: hidden;
text-align: center;
}

#magnify{
	position: fixed;
	right: 400px;
	bottom: 200px;
	width: 50px;
	cursor: pointer;


}

}

footer {
	/*background-color: #FFFFFF;*/
	text-align: center;
	opacity: 0.6;
	padding-bottom:25px;
	}

#footertext{
width: 670px;
margin-left:380px;
position: absolute;
bottom: 15px;
text-align: center;
}

a#leftbutton {
	
	padding: 10px 50px 10px 30px; 
	/*background-color: #9C9BAB;
	border-radius: 25px;*/
}

#leftbutton{
	position: fixed;
	left: 300px;
	bottom:10px;
	width:50px;

}

a#rightbutton {

	padding: 10px 30px 10px 50px; 
	
	/*background-color: #9C9BAB;
	border-radius: 25px;*/
}

#rightbutton{
	width:50px;

	position: fixed;
	right: 300px;
	bottom: 10px;
}