@charset "UTF-8";
/* CSS Document */

.fixed-bg {
    /* The background image */
    background-image: url(../img/background/SolarSystem_Bkgd.png);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 850px;
}

h2{ /* RKW */
	font-style: normal;
	font-weight: normal;
}



h3{
	font-style: normal;
	font-weight: normal;
}

footer h3{ /* RKW */
	font-size: 16px;
	color:white;

}

#mercuryimg{
	position: fixed;
	left: 255px;
	top: 605px;
	width: 10px;

}

#mercurytext{
	visibility: hidden;
		position: fixed;
	left: 255px;
	top: 605px;
	width: 10px;
}

#venusimg{
	position: fixed;
	left: 314px;
	top: 569px;
	width: 26px;
}

#venustext{
	visibility: hidden;
		position: fixed;
	left: 314px;
	top: 579px;
	width: 26px;
}

#earthimg{
	position: fixed;
	left:378px;
	top: 535px;
	width: 30px;
}

#earthtext{
	visibility: hidden;
	position: fixed;
	left:378px;
	top: 550px;
	width: 30px;
}

#marsimg{
	position: fixed;
	left: 445px;
	top: 515px;
	width: 14px;
}

#marstext{
	visibility: hidden;
		position: fixed;
	left: 445px;
	top: 515px;
	width: 14px;
}

#jupiterimg{
	position: fixed;
	left: 490px;
	top: 276px;
	width: 300px;

}

#jupitertext{
	visibility: hidden;
		position: fixed;
	left: 540px;
	top: 556px;
	width: 300px;
}

#uranusimg{
	position: fixed;
	left: 1093px;
	top: 125px;
	width: 160px;
}


#uranustext{
	visibility: hidden;
		position: fixed;
	right: 151px;
	top: 225px;
	width: 160px;
}

#neptuneimg{
	position: fixed;
	left: 1255px;
	top: 74px;
	width: 100px;
}

#neptunetext{
	visibility: hidden;
		position: fixed;
	right: 65px;
	top: 165px;
	width: 100px;
}

#saturnimg{
	position: fixed;
	left: 785px;
	top: 172px;
	width: 310px;

}

#saturntext{
	visibility: hidden;
		position: fixed;
	left: 840px;
	top: 400px;
	width: 310px;
}

#voyagerimg{
	position: fixed;
	right: 200px;
	bottom: 100px;
	text-align: center;
}

#voyagerimg h3{	
	font-size:13px;
	margin-top: 3px;

}

#t123{
	margin-top: -120px;
	text-align: center;
}

#t1{
	margin-top: 90px;
	visibility: hidden;
}

#t2{
	visibility: hidden;
}

#t3{
	visibility: hidden;
	margin-top: -30px;
	margin-left: 40px;
}

#footertext{ /* RKW */
	width: 680px;
}