@charset "UTF-8";
/* CSS Document */

.fixed-bg {
    /* The background image */
    background-image: url(../img/background/Interstellar_Neighborhood_Sans_Stars.png);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 850px;
}

#person{
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 200px;	
}

#infinity {
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 465px;	
}

h3{
	font-size: 18px;
	z-index: 1;
	/*Body Text*/
}

#siriusimg{
	position: fixed;
	top: 405px;
	left: 530px;
	width: 90px;
	cursor: pointer;
	visibility: visible;

}
#siriustext{
	position: fixed;
	top: 425px;
	left: 470px;
	visibility: hidden;
}

#ssimg{
	position: fixed;
	top: 355px;
	left: 745px;
	width: 65px;

}
 #sstext{
 	position: fixed;
	top: 365px;
	left: 690px;

 }

#proximaimg{
	position: fixed;
	top: 349px;
	left: 842px;
	width: 35px;
	cursor: pointer;
	visibility: visible;
}


#proximatext{
	position: fixed;
	top: 300px;
	left: 840px;
	visibility: hidden;

}



#proxsuntext{
	visibility: hidden;
	position: fixed;
	right: 70px;
	width: 353px;
	top: 200px;
	background-color: #BADAEA;
	border-radius: 25px;
	padding:20px ;
	color: black;
	text-align: center;
	font-size: 16px;

}

#sirsuntext{
	visibility: hidden;
	position: fixed;
	right: 70px;
	width: 353px;
	top: 200px;
	background-color: #BADAEA;
	border-radius: 25px;
	padding:20px ;
	color: black;
	text-align: center;
	font-size: 16px;

}


footer h3{ /* RKW */
	font-size: 16px;
	color:white;
}

/*#quote h3 {
	margin-top: 300px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: grey;
	font-family: 'Josefin Sans', sans-serif;
}

#author h3{
	text-align: center;
	margin-bottom: 100px;
	font-style: normal;
	font-weight: normal;
	color: grey;
	font-family: 'Josefin Sans', sans-serif;
}
*/

#footertext{ /* RKW */
	text-align: center;
}