@charset "UTF-8";
/* CSS Document */

.fixed-bg {
    /* The background image */
  	background-image: url(../img/background/Virgo_Supercluster_Sans_Galaxies.png);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 850px;
}


#Me_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 50px;
}

#Earth_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 150px;
}

#SolarSystem_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 250px;
}

#MilkyWay_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 350px;
} 

#ObUniv_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 450px;
} 

#Infinity_Nav_Icon {
	position: absolute;
	width: 50px;
	top: 550px;
}

#person{
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 200px;	
}

#infinity {
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 465px;	
}

h1{
	color:white;
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;

}

h2{
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}



h3{
	color: white;
	font-size: 18px;
font-family: 'Montserrat', sans-serif;
z-index: 1;
	/*Body Text*/
}



#andromedaimg{
	position: fixed;
	top: 315px;
	left: 520px;
	width: 70px;
	cursor: pointer;
	visibility: visible;
}

#andromedatext{

	visibility: hidden;
	position: fixed;
	left: 180px;
	width: 315px;
	top: 200px;
	background-color: #BADAEA;
	border-radius: 25px;
	padding: 20px;
	color: black;
	text-align: center;
	font-size: 16px;
}

#milkywayimg{
		position: fixed;
	top: 285px;
	left: 600px;
	width: 105px;
	cursor: pointer;
	visibility: visible;

}

#milkywaytext{
		position: fixed;
	top: 145px;
	left: 650px;
	width: 135px;
	text-align: center;
	visibility: hidden;

}

#ssarrow{
	 	position: fixed;
	top: 235px;
	left: 670px;
	visibility: hidden;
}
footer h3{ /* RKW */
	font-size: 16px;
	color:white;
}

#footertext{ /* RKW */
width: 670px;
bottom: 15px;
}