@charset "UTF-8";
/* CSS Document */

.fixed-bg {
    /* The background image */
    background-image: url(../img/background/Trappist-1_Blue.jpg);
    /* Set a specified height, or the minimum height for the background image */
    min-height: 850px;
}


#Me_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 50px;
}

#Earth_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 150px;
}

#SolarSystem_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 250px;
}

#MilkyWay_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 350px;
} 

#ObUniv_Nav_Icon{
	position: absolute;
	width: 50px;
	top: 450px;
} 

#Infinity_Nav_Icon {
	position: absolute;
	width: 50px;
	top: 550px;
}

#person{
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 200px;	
}

#infinity {
	position:absolute;
	align-content: center;
	margin: 190px 120px 0px 465px;	
}

h1{
	color:white;
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;

}

h2{
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}



h3{
	color: white;
	font-size: 18px;
font-family: 'Montserrat', sans-serif;
z-index: 1;
	/*Body Text*/
}



footer h3{ /* RKW */
	font-size: 16px;
	color:white;
}

#ufo{
	visibility: visible;
	cursor: pointer;
	position: fixed;
	bottom: 50px;
	right: 40px;
	width: 80px;
}


#text{
	visibility: visible;
	position: fixed;
	right: 80px;
	width: 385px;
	top: 150px;
	background-color: #E1D2D9;
	border-radius: 25px;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	color:black;

}

iframe {
	visibility: hidden;
	position: fixed;
}

#site{
	position: fixed;
	color: white;
	top: 220px;
	right: 520px;
	z-index: 2;
	visibility: hidden;
	font-size: 14px;
	
}